<!-- <nz-content> -->

  <div class="flex flex-col p-5">
    <div nz-row class="items-center p-2">
      <div nz-col nzSpan="12">
        <i class="fas fa-list-alt text-green-500 text-lg"></i>&nbsp;
        Ward List
      </div>
      <div nz-col nzSpan="12" class="flex justify-end items-center">
        <!-- <div #exemplo>hllloooo{{myEvent}}***{{deviceType}}</div> -->
        <nz-space>
          <!-- <nz-select (ngModelChange)="onSelectWard($event)" style="width: 220px;" nzPlaceHolder="เลือก Ward"
                    *nzSpaceItem [(ngModel)]="dataWard">
                    <nz-option *ngFor="let ward of wards" [nzValue]="ward" [nzLabel]="ward.name"></nz-option>
                  </nz-select> -->
      

          <nz-input-group *nzSpaceItem nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" name="query" [(ngModel)]="query" nz-input placeholder="ค้นหา..." />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <nz-button-group>
              <button nz-button nzType="primary" nzSearch [disabled]="!query" (click)="doSearch()"><span nz-icon
                  nzType="search"></span></button>
              <button nz-button nzType="primary" (click)="refresh()"><span nz-icon nzType="reload"></span></button>
            </nz-button-group>
          </ng-template>
        </nz-space>
      </div>
    </div>
    <!-- <nz-page-header class="site-page-header bg-white rounded-lg mt-5"
      nzTitle=" Ward List">
      <nz-page-header-extra>
        <nz-space>
          <nz-select (ngModelChange)="onSelectWard($event)" style="width: 220px;" nzPlaceHolder="เลือก Ward"
            *nzSpaceItem [(ngModel)]="dataWard">
            <nz-option *ngFor="let ward of wards" [nzValue]="ward" [nzLabel]="ward.name"></nz-option>
          </nz-select>
          <nz-input-group *nzSpaceItem nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" name="query" [(ngModel)]="query" nz-input placeholder="ค้นหา..." />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <nz-button-group>
              <button nz-button nzType="primary" nzSearch [disabled]="!query" (click)="doSearch()"><span nz-icon
                  nzType="search"></span></button>
              <button nz-button nzType="primary" (click)="refresh()"><span nz-icon nzType="reload"></span></button>
            </nz-button-group>
          </ng-template>
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header> -->
    <div class="inner-content rounded-lg">

      <div class="rounded-lg p-5">
        <ngx-spinner bdColor="rgba(0,0,0,0.3)" color="#fff" type="ball-clip-rotate-multiple" size="large" [fullScreen]="false">
          <p style="color: white;margin-top: 30px;">Loading Datas...</p>
          <!--if fullscreen false  Your parent container(div) should have position: relative;  -->
        </ngx-spinner>
        <div class="flex flex-wrap justify-around gap-4">

          <!-- class="flex flex-row shadow-xl rounded-lg  bg-emerald-100  border-2 border-green-300 p-5 lg:w-[30%] md:w-[45%] sm:w-[45%] xl:w-[15%] 2xl:w-[20%]"> -->

          <div (click)="navigatePatient(ward)" *ngFor="let ward of wards; let i = index"
            class="flex flex-row justify-between ripple opacity-100  shadow-xl rounded-lg  bg-gradient-to-r from-blue-700 to-sky-500 hover:bg-gradient-to-l from-sky-500 via-blue-700 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 cursor-pointer border-2 border-green-300 p-5 min-w-60 max-w-80 w-1/2 xs:w-11/12 sm:w-1/2 md:w-1/4 lg:w-1/5 xl:w-1/6 xxl:w-1/7">
            <div>
              <button class="rounded-full border-2 w-15 h-15 p-4 bg-lime-100  border-green-300">
                <i class="fa-solid fa-building-user text-green-600 text-[20px]"></i>
              </button>
            </div>
            <div class="flex flex-col content-center">
              <div class="flex font-bold justify-end text-5xl">
                {{i+1}}
              </div>
              <div class="flex justify-end text-right text-sm font-bold">
                {{ward.name}}
              </div>
            </div>
          </div>

        </div>
        <div class="flex flex-wrap justify-around mt-5 ...">
          <!-- md:teble sumsung A7 -->
          <div class="bg-blue-100 min-w-60 w-1/2 xs:w-11/12 sm:w-1/2 md:w-1/4 md:w-1/5 xl:w-1/6 xxl:w-1/7">
          
        </div>
          <div class="bg-blue-300 min-w-60 w-1/2 xs:w-11/12 sm:w-1/2 md:w-1/4 md:w-1/5 xl:w-1/6 xxl:w-1/7">.</div>
          <div class="bg-blue-600 min-w-60 w-1/2 xs:w-11/12 sm:w-1/2 md:w-1/4 md:w-1/5 xl:w-1/6 xxl:w-1/7">.</div>

          <div class="bg-lime-100 min-w-60 w-1/2 xs:w-11/12 sm:w-1/2 md:w-1/4 md:w-1/5 xl:w-1/6 xxl:w-1/7">.</div>
          <div class="bg-lime-300 min-w-60 w-1/2 xs:w-11/12 sm:w-1/2 md:w-1/4 md:w-1/5 xl:w-1/6 xxl:w-1/7">.</div>
          <div class="bg-lime-600 min-w-60 w-1/2 xs:w-11/12 sm:w-1/2 md:w-1/4 md:w-1/5 xl:w-1/6 xxl:w-1/7">.</div>

          <div class="bg-red-100 min-w-60 w-1/2 xs:w-11/12 sm:w-1/2 md:w-1/4 md:w-1/5 xl:w-1/6 xxl:w-1/7">.</div>
          <div class="bg-red-300 min-w-60 w-1/2 xs:w-11/12 sm:w-1/2 md:w-1/4 md:w-1/5 xl:w-1/6 xxl:w-1/7">.</div>
          <div class="bg-red-600 min-w-60 w-1/2 xs:w-11/12 sm:w-1/2 md:w-1/4 md:w-1/5 xl:w-1/6 xxl:w-1/7">.</div>

          <div class="bg-green-100 min-w-60 w-1/2 xs:w-11/12 sm:w-1/2 md:w-1/4 md:w-1/5 xl:w-1/6 xxl:w-1/7">.</div>
          <div class="bg-green-300 min-w-60 w-1/2 xs:w-11/12 sm:w-1/2 md:w-1/4 md:w-1/5 xl:w-1/6 xxl:w-1/7">.</div>
          <div class="bg-green-600 min-w-60 w-1/2 xs:w-11/12 sm:w-1/2 md:w-1/4 md:w-1/5 xl:w-1/6 xxl:w-1/7">.</div>
        </div>

      </div>

    </div>
  </div>
<!-- </nz-content> -->