<nz-content>
    <div nz-row class="items-center p-2">
        <div nz-col nzSpan="12">
            <i class="fas fa-list-alt text-green-500 text-lg"></i>&nbsp;
            Doctor Order ตัวแปรที่ส่งมาให้ คือ AN = {{queryParamsData}}
        </div>
        <div nz-col nzSpan="12" class="flex justify-end items-center">
            ...
        </div>
    </div>

    <div class="bg-white p-1">

        <div class="rounded-lg border-blue-200 border-2">

            <div class="flex flex-row rounded-t-lg bg-blue-500 text-white p-4 w-full min-w-80 mb-5">

                <div class="flex flex-row w-full">

                    <div class="flex flex-col w-full content-center">
                        <div class="flex text-sm font-bold">
                            <p>นายทดสอบ อะนะ</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <p>อายุ : 60 ปี เพศ : ชาย AN 65000001 HN 123456</p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- <div class="flex flex-row w-full gap-3 px-3 pb-3"> -->
            <div class="flex flex-wrap justify-between">
                <div class="w-1/3 xs:w-11/12 sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/3 xxl:w-1/3">
                    <div class="flex flex-col">
                        <div class="w-full h-full ">
                            <span>                            
                                    <nz-card [nzTitle]="progress_not" nzSize="small">
                                        <ng-template #progress_not>
                                            <div class="flex flex-row justify-between">
                                                <span class="bg-green-200 text-sm text-green-800 p-1 rounded" >Progress Note</span>
                                                <button nz-button nzType="primary">+ Standing</button>
                                            </div>
                                        </ng-template>
                                        
                                        <div class="flex flex-row w-full">
                                            <div class="w-4">
                                                S:
                                            </div>
                                            <div class="grow">
                                                <nz-input-group [nzAddOnAfter]="templateprogressValueS">
                                                    <input type="text" nz-input placeholder="ระบุ Progress Note" enterkeyhint="done" [(ngModel)]="progressValueS" (keydown.enter)="addProgressNoteS()" />
                                                </nz-input-group>
                                                <ng-template #templateprogressValueS>
                                                    <button class="p-0 cursor-pointer" (click)="addProgressNoteS()">
                                                        <i class="fa-solid fa-plus text-xl text-sky-600 font-light cursor-pointer w-fit h-fit" (click)="addProgressNoteS()"></i>
                                                    </button>
                                                </ng-template>
                                            </div>
                                        </div>
                                        <div class="flex flex-row w-full mt-1">
                                            <div class="w-4">
                                                O:
                                            </div>
                                            <div class="grow">
                                                <nz-input-group [nzAddOnAfter]="sprogressValueO">
                                                    <input type="text" nz-input placeholder="ระบุ Progress Note" enterkeyhint="done" [(ngModel)]="progressValueO" (keydown.enter)="addProgressNoteO()" />
                                                </nz-input-group>
                                                <ng-template #sprogressValueO>
                                                    <button class="p-0 cursor-pointer" (click)="addProgressNoteO()">
                                                        <i class="fa-solid fa-plus text-xl text-sky-600 font-light cursor-pointer w-fit h-fit" (click)="addProgressNoteO()"></i>
                                                    </button>
                                                </ng-template>
                                            </div>

                                        </div>
                                        <div class="flex flex-row w-full mt-1">
                                            <div class="w-4">
                                                A:
                                            </div>
                                            <div class="grow">
                                                <nz-input-group [nzAddOnAfter]="templateprogressValueA">
                                                    <input type="text" nz-input placeholder="ระบุ Progress Note" enterkeyhint="done" [(ngModel)]="progressValueA" (keydown.enter)="addProgressNoteA()" />
                                                </nz-input-group>
                                                <ng-template #templateprogressValueA>
                                                    <button class="p-0 cursor-pointer" (click)="addProgressNoteA()">
                                                        <i class="fa-solid fa-plus text-xl text-sky-600 font-light cursor-pointer w-fit h-fit" (click)="addProgressNoteA()"></i>
                                                    </button>
                                                </ng-template>

                                            </div>

                                        </div>
                                        <div class="flex flex-row w-full mt-1">
                                            <div class="w-4">
                                                P:
                                            </div>
                                            <div class="grow">
                                                <nz-input-group [nzAddOnAfter]="templateprogressValueP">
                                                    <input type="text" nz-input placeholder="ระบุ Progress Note" enterkeyhint="done" [(ngModel)]="progressValueP" (keydown.enter)="addProgressNoteP()" />
                                                </nz-input-group>
                                                <ng-template #templateprogressValueP>
                                                    <button class="p-0 cursor-pointer" (click)="addProgressNoteP()">
                                                        <i class="fa-solid fa-plus text-xl text-sky-600 font-light cursor-pointer w-fit h-fit" (click)="addProgressNoteP()"></i>
                                                    </button>
                                                </ng-template>

                                            </div>

                                        </div>
                                    </nz-card>
                                
                            </span>
                        </div>
                        <div class="p-2 border border-gray-200">
                            <nz-tag nzColor="cyan" class="text-black" *ngFor="let tag of progressTags; let i = index" [nzMode]="i === 0 ? 'default' : 'closeable'"
                                (nzOnClose)="handleCloseProgress(progressTags)">
                                {{ sliceTagNameProgress(tag) }}
                            </nz-tag>
                            <div class="flex justify-end content-center mb-2 mr-3">
                                <button nz-button nzType="primary">
                                    <!-- <i class="fas fa-save"></i>&nbsp; -->
                                    บันทึก
                                </button>
                            </div>
                        </div>
                        
                        <!-- <nz-divider></nz-divider> -->
                        <div>
                            <nz-card nzTitle="Progess Note [ ก่อนหน้านี้ ]" nzSize="small">
                                <div class="flex flex-col w-full">
                                    <div class="grow rounded-md border border-sky-200 p-2 mb-2">
                                        <p>Card content</p>
                                        <p>Card content</p>
                                        <p>Card content</p>
                                        <p>Card content</p>
                                        <p>Card content</p>
                                    </div>
                                    <div class="grow rounded-md border border-sky-200 p-2">
                                        <p>Card content</p>
                                        <p>Card content</p>
                                        <p>Card content</p>
                                        <p>Card content</p>
                                        <p>Card content</p>
                                    </div>
                                </div>
                            </nz-card>
                        </div>
                    </div>
                </div>
                <div class="w-1/3 xs:w-11/12 sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/3 xxl:w-1/3">
                    <div class="flex flex-col">
                        <div class="w-full h-full bg-blue-200">
                            <span>
                                <nz-card [nzTitle]="order_oneday" nzSize="small">
                                    <ng-template #order_oneday>
                                        <div class="flex flex-row justify-between">
                                            <span class="bg-green-200 text-sm text-green-800 p-1 rounded" >Order Oneday</span>
                                            <button nz-button nzType="primary">+ Standing</button>
                                        </div>
                                    </ng-template>
                                        <div class="flex flex-row w-full">
                                            <div class="grow">

                                                <nz-input-group [nzAddOnAfter]="templateOneday">
                                                    <input type="text" nz-input placeholder="ระบุ Progress Note" enterkeyhint="done" [(ngModel)]="onedayValue" (keydown.enter)="addOneday()" />
                                                </nz-input-group>
                                                <ng-template #templateOneday>
                                                    <button class="p-0 cursor-pointer" (click)="addOneday()">
                                                        <i class="fa-solid fa-plus text-xl text-sky-600 font-light cursor-pointer w-fit h-fit" (click)="addOneday()"></i>
                                                    </button>
                                                </ng-template>

                                            </div>

                                        </div>

                                    </nz-card>
                                
                            </span>
                        </div>

                        <div class="p-2 border border-gray-200">
                            <nz-tag nzColor="cyan" class="text-black" *ngFor="let onedayTags of onedayTags; let i = index" [nzMode]="i === 0 ? 'default' : 'closeable'"
                                (nzOnClose)="handleCloseOneday(onedayTags)">
                                {{ sliceTagNameOneday(onedayTags) }}
                            </nz-tag>
                            <div class="flex justify-end content-center mb-2 mr-3">
                                <button nz-button nzType="primary">
                                    <!-- <i class="fas fa-save"></i>&nbsp; -->
                                    บันทึก
                                </button>
                            </div>
                        </div>
                        <nz-divider></nz-divider>
                        <div>
                            <nz-card nzTitle="Order One Day [ ก่อนหน้านี้ ]" nzSize="small">
                                <div class="flex flex-col w-full">
                                    <div class="grow rounded-md border border-sky-200 p-2 mb-2">
                                        <p>Card content</p>
                                        <p>Card content</p>
                                        <p>Card content</p>
                                        <p>Card content</p>
                                        <p>Card content</p>
                                    </div>
                                    <div class="grow rounded-md border border-sky-200 p-2">
                                        <p>Card content</p>
                                        <p>Card content</p>
                                        <p>Card content</p>
                                        <p>Card content</p>
                                        <p>Card content</p>
                                    </div>
                                </div>
                            </nz-card>
                        </div>
                    </div>
                </div>
                <div class="w-1/3 xs:w-11/12 sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/3 xxl:w-1/3">
                    <div class="flex flex-col">

                        <div class="w-full h-full bg-blue-200">
                            <span>
                                    <nz-card [nzTitle]="continue_order" nzSize="small">
                                        <ng-template #continue_order>
                                            <div class="flex flex-row justify-between">
                                                <span class="bg-green-200 text-sm text-green-800 p-1 rounded" >Continue Order</span>
                                                <button nz-button nzType="primary">+ Standing</button>
                                            </div>
                                        </ng-template>
                                        <div class="flex flex-row w-full">
                                            <div class="grow">
                                                <nz-input-group [nzAddOnAfter]="templateContinue">
                                                    <input type="text" nz-input placeholder="ระบุ Progress Note" enterkeyhint="done" [(ngModel)]="continueValue" (keydown.enter)="addContinue()" />
                                                </nz-input-group>
                                                <ng-template #templateContinue>
                                                    <button class="p-0 cursor-pointer" (click)="addContinue()">
                                                        <i class="fa-solid fa-plus text-xl text-sky-600 font-light cursor-pointer w-fit h-fit" (click)="addContinue()"></i>
                                                    </button>
                                                </ng-template>
                                            </div>

                                        </div>
                                    </nz-card>
                                </span>
                        </div>
                        <div class="p-2 border border-gray-200">
                            <nz-tag nzColor="cyan" class="text-black" *ngFor="let continueTags of continueTags; let i = index" [nzMode]="i === 0 ? 'default' : 'closeable'"
                                (nzOnClose)="handleCloseContinue(continueTags)">
                                {{ sliceTagNameContinue(continueTags) }}
                            </nz-tag>
                            <div class="flex justify-end content-center mb-2 mr-3">
                                <button nz-button nzType="primary">
                                    <!-- <i class="fas fa-save"></i>&nbsp; -->
                                    บันทึก
                                </button>
                            </div>
                        </div>
                        <nz-divider></nz-divider>
                        <div>
                            <nz-card nzTitle="Continue Order [ ก่อนหน้านี้ ]" nzSize="small">
                                <div class="flex flex-col w-full">
                                    <div class="grow rounded-md border border-sky-200 p-2 mb-2">
                                        <p>Card content</p>
                                        <p>Card content</p>
                                        <p>Card content</p>
                                        <p>Card content</p>
                                        <p>Card content</p>
                                    </div>
                                    <div class="grow rounded-md border border-sky-200 p-2">
                                        <p>Card content</p>
                                        <p>Card content</p>
                                        <p>Card content</p>
                                        <p>Card content</p>
                                        <p>Card content</p>
                                    </div>
                                </div>
                            </nz-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nz-content>