<nz-content>
    <div nz-row class="items-center">
        <div nz-col nzSpan="12">
            <nz-breadcrumb>
                <nz-breadcrumb-item>
                   
                    
                </nz-breadcrumb-item>
            </nz-breadcrumb>
        </div>

    </div>
    <nz-page-header style="background-color: white;" class="site-page-header" nzTitle="Admission Note">
    </nz-page-header>
    <div class="inner-content">

        <div class="flex flex-row rounded-lg bg-emerald-100 shadow-md p-5 w-full min-w-80 mb-5">

            <div class="flex flex-row w-full">

                <div class="flex flex-col w-full content-center">
                    <div class="flex text-sm font-bold">
                        <p>{{title}}{{fname}} {{lname}} อายุ : {{age}} ปี เพศ : {{gender}} AN {{an}} HN {{hn}}</p>

                    </div>

                </div>

            </div>
        </div>

        <div class="flex flex-row rounded-lg bg-slate-100 shadow-md p-5 w-full min-w-200 mb-5">

            <div>
                <div class="flex flex-col  w-200 w-full content-center">
                    <div class="flex text-sm font-bold">
                        ประวัติการเจ็บป่วย : <br>
                        อาการสำคัญ (CC) : {{chief_complaint}}<br>
                        อาการเจ็บป่วยปัจจุบัน : {{present_illness}}<br>
                        อาการเจ็บป่วยในอดีต : {{past_history}}<br>
                    </div>

                </div>
            </div>
        </div>

        <div class="flex flex-row rounded-lg bg-slate-100 shadow-md p-5 w-full mb-5">

            <div>
                <div class="flex flex-col w-full content-center">
                    การเจ็บป่วยที่ต้องได้รับการรักษาในโรงพยาบาล :<br>

                    <div class="flex flex-col w-[100%]">

                        <div class="flex p-2 flex-row">
                            <div class="w-64 p-2">
                                โรคประจำตัว
                            </div>
                            <div class="p-2">
                                <label nz-checkbox>ไม่มี</label>
                            </div>
                            <div class="p-2">
                                มี(ระบุ)
                            </div>
                            <div class="w-[50%] p-2">
                                <input nz-input placeholder="Basic usage" />
                            </div>
                        </div>

                        <div class="flex p-2 flex-row">
                            <div class="w-64 p-2">
                                การแพ้ยา
                            </div>
                            <div class="p-2">
                                <label nz-checkbox>ไม่มี</label>
                            </div>
                            <div class="p-2">
                                มี(ระบุ)
                            </div>
                            <div class="w-[50%] p-2">
                                <input nz-input placeholder="Basic usage" />
                            </div>
                        </div>

                        <div class="flex p-2 flex-row">
                            <div class="w-64 p-2">
                                การผ่าตัด
                            </div>
                            <div class="p-2">
                                <label nz-checkbox>ไม่มี</label>
                            </div>
                            <div class="p-2">
                                มี(ระบุ)
                            </div>
                            <div class="w-[50%] p-2">
                                <input nz-input placeholder="Basic usage" />
                            </div>
                        </div>

                        <div class="flex p-2 flex-row">
                            <div class="w-64 p-2">
                                การสูบบุหรี่
                            </div>
                            <div class="p-2">
                                <label nz-checkbox>ไม่มี</label>
                            </div>
                            <div class="p-2">
                                มี(ระบุ)
                            </div>
                            <div class="w-[50%] p-2">
                                <input nz-input placeholder="Basic usage" />
                            </div>
                        </div>

                        <div class="flex p-2 flex-row">
                            <div class="w-64 p-2">
                                การดื่มสุรา
                            </div>
                            <div class="p-2">
                                <label nz-checkbox>ไม่มี</label>
                            </div>
                            <div class="p-2">
                                มี(ระบุ)
                            </div>
                            <div class="w-[50%] p-2">
                                <input nz-input placeholder="Basic usage" />
                            </div>
                        </div>

                        <div class="flex p-2 flex-row">
                            <div class="w-64 p-2">
                                โรคประจำตัวหรือโรคทางพันธุกรรม
                            </div>
                            <div class="p-2">
                                <label nz-checkbox>ไม่มี</label>
                            </div>
                            <div class="p-2">
                                มี(ระบุ)
                            </div>
                            <div class="w-[50%] p-2">
                                <input nz-input placeholder="Basic usage" />
                            </div>
                        </div>

                        <div class="flex p-2 flex-row">
                            <div class="w-64 p-2">
                                การคุมกำเนิด
                            </div>
                            <div class="p-2">
                                <label nz-checkbox>ไม่มี</label>
                            </div>
                            <div class="p-2">
                                มี(ระบุ)
                            </div>
                            <div class="w-[50%] p-2">
                                <input nz-input placeholder="Basic usage" />
                            </div>
                        </div>

                        <div class="flex p-2 flex-row">
                            <div class="w-64 p-2">
                                วัคซีน
                            </div>
                            <div class="p-2">
                                <label nz-checkbox>ไม่มี</label>
                            </div>
                            <div class="p-2">
                                มี(ระบุ)
                            </div>
                            <div class="w-[50%] p-2">
                                <input nz-input placeholder="Basic usage" />
                            </div>
                        </div>

                        <div class="flex p-2 flex-row">
                            <div class="w-64 p-2">
                                พัฒนาการ
                            </div>
                            <div class="p-2">
                                <label nz-checkbox>ไม่มี</label>
                            </div>
                            <div class="p-2">
                                มี(ระบุ)
                            </div>
                            <div class="w-[50%] p-2">
                                <input nz-input placeholder="Basic usage" />
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="flex flex-row rounded-lg bg-slate-100 shadow-md p-5 w-full mb-5">

            <div class="flex flex-col content-center">
                <div class="flex text-sm font-bold">
                    V/S HT: {{body_height}}cm. BW: {{body_weight}} kg. BMI: {{body_weight}} BT: {{body_temperature}} ํC BP: {{systolic_blood_pressure}}/{{diatolic_blood_pressure}} mmHg.
                </div>

            </div>
        </div>

        <div class="flex flex-row  rounded-lg bg-slate-100 shadow-md p-5 w-full mb-5">

            <div class="flex flex-col w-full">
                <div nz-row>
                    <div nz-col nzSpan="100"
                        class="border-2 p-5 w-[50%] font-bold border-indigo-200">
                        Review of System<br>

                        <div class="flex flex-col w-full">

                            <div class="flex flex-row">
                                <div class="w-64 p-2">
                                    Gernaral
                                </div>
                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                            <div class="flex flex-row">
                                <div class="w-64 p-2">
                                    HEENT
                                </div>
                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                            <div class="flex flex-row">
                                <div class="w-64 p-2">
                                    HEART
                                </div>
                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                            <div class="flex flex-row">
                                <div class="w-64 p-2">
                                    LUNG
                                </div>
                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div nz-col nzSpan="12"
                        class="border-r-2 border-t-2 border-b-2 p-5 w-full font-bold border-indigo-200">


                        <div nz-col  
                            class="flex flex-row p-5 w-full font-bold">
                            
                            <div nz-row nzSpan="12"
                                class="w-[100%] font-bold">
                                Physical Examination<br>
                                

                                <div class="flex flex-col w-[100%]">

                                    <div class="flex flex-row">

                                        <div class="p-2">
                                            <label nz-checkbox>ปกติ</label>
                                        </div>

                                    </div>

                                    <div class="flex flex-row">

                                        <div class="p-2">
                                            <label nz-checkbox>ปกติ</label>
                                        </div>

                                    </div>

                                    <div class="flex flex-row">

                                        <div class="p-2">
                                            <label nz-checkbox>ปกติ</label>
                                        </div>

                                    </div>

                                    <div class="flex flex-row">

                                        <div class="p-2">
                                            <label nz-checkbox>ปกติ</label>
                                        </div>

                                    </div>

                                </div>

                                

                            </div>

                            <div nz-row nzSpan="12"
                                class="p-5 w-[100%] font-bold"><textarea rows="4" nz-input></textarea></div>
                           

                        </div>

                   



                    </div>

                </div>

            </div>
        </div>

<div class="flex w-full justify-center">
    <button nz-button class="login-form-button login-form-margin mr-3" [nzType]="'primary'">บันทึก</button><button nz-button class="login-form-button login-form-margin border-blue-500">ยกเลิก</button>
</div>
        

    </div>
</nz-content>