@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://use.fontawesome.com/releases/v6.4.0/css/all.css";

html,
body {
  font-family: 'Kanit', sans-serif;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 30px 16px 0;
  float: left;
}

nz-content {
  margin: 0 16px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: calc(100vh - 380px);
}

nz-footer {
  text-align: center;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.header-menu {
  line-height: 64px;
}

.sider-menu {
  height: 100%;
  border-right: 0;
}

/* Define the custom ripple animation */
@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.3;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

/* Create the ripple effect on elements with the 'ripple' class */
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  animation: ripple 0.6s linear;
  transform-origin: center;
  pointer-events: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* .anticon {

  font-size: 40px !important;
} */
.ant-layout-sider-light .ant-layout-sider-zero-width-trigger {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 25px !important;

  width: 60px !important;
  height: 50px !important;
  
  padding-left: 30px !important;
  padding-right: 5px !important;


}
